.mainTitle{
    @media screen and (max-width: 767px) {
        font-size: 2rem;
    }
}

.box-home{
    @media screen and (max-width: 767px) {
        margin: 20% 5% 0% 0;
    }

}
.subtitle{
    width: 40%;
        @media screen and (max-width: 767px) {
            font-size: 1rem;
            width: 100%;
    }
}

.name{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "apercu", sans-serif;
    -webkit-text-stroke: 1px #cad6dd;
    color: transparent;
    color: #f2f2f2;
    @media screen and (max-width: 767px) {
        font-size: 2rem;
}
}

.lastName{
    font-size: 2rem;
    font-family: "apercu", sans-serif;
    -webkit-text-stroke: 1.5px #FD2155;
    color: transparent;
    font-weight: 800;
    @media screen and (max-width: 767px) {
        font-size: 2rem;
}
}

.available{
    border-radius: .2rem;
    border: 1px solid #14b8a6;
    font-size: .7rem;
    max-width: 20%;
    color: #f2f2f2;
    padding: .1rem;
    letter-spacing: 2.5px;
    text-align: center;
    font-variant: small-caps;
    @media screen and (max-width: 767px) {
        font-size: .8rem;
        max-width: 80%;
}
}

.aboutMeButtom{
    background-color: #FD2155;
    color: #f2f2f2;
    &:hover{
        transition-duration: 0.1s;
        background-color: #cad6dd;
        color: rgb(190, 24, 93);
    }
    @media screen and (max-width: 767px) {
        font-size: 1rem;
}
}

#about{
    @media screen and (max-width: 767px) {
        flex-direction: column;;
    }
}

#closeButton{
    @media screen and (max-width: 767px) {
        right: 5%;
        top: 5%;
    }
}

.titleSkill{
    @media screen and (max-width: 767px) {
        font-size: 1rem;
    }
}