.rrss{
    @media screen and (max-width: 2200px){
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        max-width: 30%;
        position: absolute;
        bottom: 5%;
        left: 1%;
        min-width: 20%;
    }
    @media screen and (min-width: 481px)and (max-width: 768px) {
        left: 2%;
        min-width: 40%;
    }
    @media screen and (min-width: 768px)and (max-width: 990px){
        left: 0%;
        min-width: 40%;
        bottom: 4%;
    }
}